.secimDark{
    color: #fafafa;
    background-color:#484b6a;
}

.settingsDark{
    color: #e4e5f1;
    background-color:#484b6a;
}

.currentDark{
    color: #fafafa;
    background-color:#484b6a;
}

.hourlyDark{
    color: #d2d3db;
    background-color:#313349;
}

.dailyDark{
    color: #9394a5;
    background-color:#484b6a;
}



.secimLight{
    background-color: #d2d3db;
    color:#484b6a;
}

.settingsLight{
    background-color: #d2d3db;
    color:#484b6a;
}

.currentLight{
    background-color: #d2d3db;
    color:#484b6a;
}

.hourlyLight{
    background-color: #f4f4f4;
    color:#484b6a;
}

.dailyLight{
    background-color: #d2d3db;
    color:#484b6a;
}