.secimDark{
    color: #fafafa;
    background-color:#484b6a;
}

.settingsDark{
    color: #e4e5f1;
    background-color:#484b6a;
}

.currentDark{
    color: #fafafa;
    background-color:#484b6a;
}

.hourlyDark{
    color: #d2d3db;
    background-color:#484b6a;
    border: 1px solid rgba(128, 128, 128, 0.111)
}

.dailyDark{
    color: #9394a5;
    background-color:#484b6a;
    border: 1px solid rgba(128, 128, 128, 0.111)
}



.secimLight{
    background-color: #d2d3db;
    color:#484b6a;
}

.settingsLight{
    background-color: #d2d3db;
    color:#484b6a;

}

.currentLight{
    background-color: #d2d3db;
    color:#484b6a;

}

.hourlyLight{
    background-color: #d2d3db;
    color:#484b6a;
    border: 1px solid rgb(191, 191, 191)

}

.dailyLight{
    background-color: #d2d3db;
    color:#484b6a;
    border: 1px solid rgb(191, 191, 191)

}